@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg-primary-dark: rgb(31, 32, 35);
  --text-dark-color: rgb(255, 255, 255);
  --bg-primary-hover: rgba(232, 234, 237, 0.08);
}

/* Scrollbar Width */
body::-webkit-scrollbar {
  width: 0.75rem;
}

/* Scrollbar Track */
body::-webkit-scrollbar-track {
  background: var(--bg-primary-dark);
}

/* Scrollbar Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 0.625rem;
  border: 2px solid var(--bg-primary-dark);
}

/* Scrollbar Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgb(113, 113, 113);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box !important;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
}

input,
select,
textarea,
a,
button {
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: var(--bg-primary-dark);
}

span.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-primary-hover);
  }
  svg {
    fill: var(--text-dark-color);
  }
}

.button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  align-items: center;
  appearance: none;
  background-color: rgb(28, 116, 233);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 12px 24px 11px;
  text-rendering: optimizeLegibility;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  &:hover {
    background-color: rgb(23, 78, 166);
    box-shadow: none;
    color: #fff;
  }
}

.dropdown-divider {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-color: #3c4043;
}

header {
  &.header {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(32, 33, 36);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    max-height: 64px;
  }
  nav.nav {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    .start {
      display: flex;
      align-items: center;
      gap: 10px;
      a.brand {
        font-size: 17px;
        color: rgba(255, 255, 255, 0.87);
        font-size: 20px;
        line-height: 24px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .end {
      display: flex;
      align-items: center;
      gap: 1rem;
      .app {
        button.dropdown-toggle {
          &::after {
            display: none;
          }
        }
        .dropdown-menu {
          all: unset;
          width: 314px;
          z-index: 991;
          margin-top: 57px;
          transition: height 0.3s ease-in-out 0s;
          padding: 3px 6px 9px;
          background: #fff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          background-color: #2d2e30;
          border-radius: 8px;
          height: auto;
          z-index: 99;
          display: none;
          &.show {
            display: block;
            padding-top: 10px;
            padding-left: 14px;
            transform: translate(-16px, 65px) !important;
          }
          li {
            display: inline-block;
            margin-left: 5.25px;
            list-style-type: none;
            padding: 6px;
            position: relative;
            transition: transform 0.2s cubic-bezier(0.333, 0, 0, 1);
            vertical-align: top;
            width: 84px;
            border-radius: 8px;
            &.set {
              a {
                .image {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    min-height: 50px;
                    min-width: 50px;
                    max-height: 50px;
                    max-width: 50px;
                    object-fit: contain;
                  }
                }
              }
            }
            &:hover {
              background-color: #434447;
            }
            a {
              border-radius: 8px;
              margin: 0;
              outline: none;
              text-align: center;
              text-decoration: none;
              width: 100%;
              height: 100%;
              .image {
                height: 62px;
                transform: scale(calc(5 / 6));
                img {
                  display: inline-block;
                  height: 64px;
                  vertical-align: top;
                  width: 64px;
                }
              }
              span {
                color: #e8eaed;
                display: inline-block;
                font-size: 14px;
                letter-spacing: 0.09px;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 76px;
              }
            }
          }
        }
      }
    }
  }
}

main {
  &.main {
    height: 100%;
    .news {
      height: 100%;
      display: flex;
      .side-bar {
        min-width: 285px !important;
        max-width: 285px !important;
        width: 100%;
        height: 100%;
      }
      .content {
        margin-top: 64px;
        color: var(--text-dark-color);
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        display: inline-block;
        h1 {
          font-size: 1.75rem;
          gap: 0.75rem;
          font-weight: 500;
          margin-top: 0.7rem;
          margin-bottom: 1.5rem;
          display: flex;
          align-items: center;
          z-index: 9;
          div {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            &.business {
              background-color: #1e8e3e;
            }
            &.science {
              background-color: #1bb3c8;
            }
            &.health {
              background-color: #4285f4;
            }
            &.sports {
              background-color: #fa7b17;
            }
            &.entertainment {
              background-color: #8430c3;
            }
            &.general {
              background-color: #0a9697;
            }
          }
        }
        .new {
          width: 100%;
          max-width: 800px;
          border: 1px solid #5f6368;
          border-radius: 8px;
          margin-bottom: 1rem;
          position: relative;
          display: inline-block;
          padding: 1rem;
          &:hover {
            .news-content {
              .news-title {
                text-decoration: underline;
              }
            }
          }
          a {
            width: 100%;
            justify-content: space-between;
            .news-content {
              .news-title {
                color: var(--text-dark-color);
                max-width: 550px;
                max-height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .news-author {
                font-size: 15px;
                color: rgba(255, 255, 255, 0.6);
              }
              .news-description {
                color: rgba(255, 255, 255, 0.85);
                font-size: 0.9063rem;
                max-width: 550px;
                margin-top: 0.5rem;
                overflow: hidden;
                height: 63px;
              }
              .news-time {
                font-size: 15px;
                color: rgba(255, 255, 255, 0.6);
                &::before {
                  font-size: 1rem;
                  content: "\0000a0\002022\0000a0";
                  margin-right: 0.35rem;
                }
              }
            }
            .news-image {
              display: flex;
              padding-right: 0.5rem;
              align-items: center;
              img {
                z-index: 1;
                min-width: 100px;
                min-height: 100px;
                max-width: 100px;
                max-height: 100px;
                object-fit: cover;
                border-radius: 8px;
              }
            }
          }
        }
      }
      .weather {
        width: 350px;
        min-width: 350px;
        color: #fff;
        margin-top: 11rem;
        margin-right: 2rem;
        border: 1px solid #5f6368;
        border-radius: 8px;
        display: inline-block;
        padding: 1rem;
        max-height: 322px;
        height: auto;
        .dropdown-divider {
          margin-bottom: 0;
        }
        .header {
          color: #bdc1c6;
          font-size: 15.5px;
          font-weight: 500;
        }
        .main {
          .realtime {
            > div {
              display: inline-block;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 95px;
            .text {
              color: #fff;
              font-weight: 500;
              line-height: 1.42;
            }
            .temp {
              font-size: 1.75rem;
              font-weight: 400;
              span {
                font-size: 0.875rem;
                font-weight: 500;
                margin-left: 2px;
              }
            }
          }
          .days {
            margin-top: 10px;
            > div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: column;
              gap: 0.15rem;
              .day-name {
                display: block;
                margin-bottom: 5px;
                font-size: 0.875rem;
                color: #fff;
                font-weight: 500;
                height: 1rem;
              }
              .icon {
                margin-bottom: 7px;
                img {
                  width: 60px;
                  height: 60px;
                }
              }
              .temp-max,
              .temp-min {
                font-weight: 700;
                color: #ffffff;
                font-size: 0.8rem;
                text-align: center;
              }
              .temp-min {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

.menu-content {
  .offcanvas {
    margin-top: 64px;
    max-width: 285px !important;
    border: none !important;
    background-color: transparent;
    button {
      display: none;
      position: absolute;
      right: 0.85rem;
      top: 2rem;
    }
    .offcanvas-body {
      padding: 1rem 0;
      ul.list {
        padding-left: 0;
        li.modal-list {
          color: #bdc1c6;
          cursor: pointer;
          font-size: 0.875rem;
          &:hover {
            color: #8ab4f8;
            + .area {
              color: #8ab4f8;
            }
          }
        }
        span {
          font-size: 0.75rem;
          cursor: pointer;
          color: #f1f3f4;
          font-weight: 500;
          display: block;
          padding: 0 1.5rem;
          margin-top: -10px;
        }
        li.list-item {
          height: 47px;
          padding: 0 1.5rem;
          position: relative;
          display: flex;
          align-items: center;
          line-height: 46px;
          border-radius: 0 50px 50px 0;
          &.active {
            background: rgba(138, 180, 248, 0.239) !important;
            a {
              color: #8ab4f8;
              svg {
                fill: #8ab4f8;
              }
            }
          }
          a {
            color: #bdc1c6;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 0.85rem;
            gap: 0.6rem;
            height: 100%;
            &:hover {
              color: #8ab4f8;
              svg {
                fill: #8ab4f8;
              }
            }
            svg {
              fill: #bdc1c6;
            }
          }
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      background-color: #2d2e30;
      min-width: 560px;
      .modal-header {
        border: none;
        padding-bottom: 0;
        h5 {
          font-weight: 500;
          color: var(--text-dark-color);
          font-size: 1.5rem;
          line-height: 32px;
          margin-top: 4px;
          span {
            display: block;
            font-weight: 400;
            color: #bdc1c6;
            font-size: 1rem;
            margin: 0.5rem 0 1rem;
          }
        }
      }
      .modal-body {
        min-height: 300px;
        .images {
          margin: auto;
          width: 100%;
          max-width: 360px;
          min-height: 1px;
        }
        h1.title {
          color: #ffffff;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
        }
        ul.list {
          margin: 1rem auto;
          color: #fff;
          list-style: disc;
          li.list-item {
            color: #bdc1c6;
            line-height: 1.9;
            font-size: 1.125rem;
            font-weight: 400;
            list-style: disc;
            margin: 0 1rem;
            margin-bottom: 2.5px;
          }
        }
      }
      .modal-footer {
        border: none;
        button {
          color: #8ab4f8;
          font-size: 0.8125rem;
          &:first-child {
            color: #bdc1c6;
          }
          &:hover,
          &:active {
            background-color: #41464d;
          }
        }
        button {
          a {
            color: #8ab4f8;
            font-size: 0.8125rem;
            &:first-child {
              color: #bdc1c6;
            }
            &:hover,
            &:active {
              background-color: #41464d;
            }
          }
        }
      }
    }
  }
}

.tail-select {
  width: 99%;
  height: 50px;
}

.select-label {
  box-shadow: none !important;
  background-color: var(--bg-primary-dark) !important;
  color: var(--text-dark-color) !important;
  min-height: 50px;
  line-height: 48px !important;
  border-radius: 8px !important;
  &::after,
  &::before {
    display: none !important;
  }
}

.label-inner {
  height: 50px !important;
  margin-top: -4px !important;
}
.select-dropdown {
  background-color: var(--bg-primary-dark) !important;
  border-radius: 5px !important;
  color: rgba(255, 255, 255, 0.85);
  &::after,
  &::before {
    display: none !important;
  }
  .dropdown-option {
    background-color: var(--bg-primary-dark) !important;
    padding: 5px 10px 5px 10px !important;
    color: rgba(255, 255, 255, 0.8) !important;
    height: 40px !important;
    line-height: 30px !important;
    &.selected {
      color: #fff !important;
    }
    &:hover {
      background-color: #000 !important;
      color: #fff !important;
    }
    &::before {
      display: none !important;
    }
  }
}
@media screen and (max-width: 1024px) {
  .hide-1024 {
    display: none;
  }
  .show-1024 {
    display: block !important;
  }
  .menu-content .offcanvas .offcanvas-body ul.list li.list-item {
    width: 88%;
  }
  .side-bar {
    position: absolute;
    .offcanvas {
      background-color: var(--bg-primary-dark) !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .hide-768 {
    display: none !important;
  }
  .show-768 {
    display: block !important;
  }
  main.main .news .content .new a .news-content .news-description {
    max-width: 500px !important;
  }
  main.main .news .content .new a .news-content .news-title {
    max-width: 500px !important;
  }
  .modal .modal-dialog .modal-content {
    min-width: auto !important;
  }
}

@media screen and (max-width: 425px) {
  .hide-425 {
    display: none !important;
  }
  .show-425 {
    display: block !important;
  }
  header nav.nav {
    padding: 0 0.25rem;
  }
  main.main .news .content .new a {
    flex-direction: column-reverse;
  }
  main.main .news .content {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  main.main .news .content .new {
    padding: 0.75rem;
  }
  main.main .news .content .new a .news-content .news-description {
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  main.main .news .content .new a .news-image {
    align-items: normal;
    padding-right: 0;
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  header nav.nav .end .app .dropdown-menu.show {
    transform: translate(2.5px, 65px) !important;
  }
  .modal .modal-dialog .modal-content {
    min-width: auto !important;
    .modal-header .btn-close {
      margin-top: -120px;
    }
  }
}
